#movies img, #movie img{
    width: 100%;
}

body {
    background-image: image();
}

h4 {
    margin-top: 10px;
}

.form-control {
    font-size: 16px;
    line-height: 34px;
    width: 80%;
    border-radius: 2px;
}

.form-control:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media(min-width:960px) {
    #movies .col-md-3 .card{
        height: 390px;
    }

    #movies .col-md-3 img{
        height:240px;
    }
}
